{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:json/recommended",
    "plugin:prettier/recommended" // Make sure this is always the last configuration in the extends array. Enables eslint-plugin-prettier and],
  ],
  "plugins": ["prettier"],
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true,
    "browser": false
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": false,
      "arrowFunctions": true
    },
    "sourceType": "module"
  },
  "globals": {
    "strapi": true
  },
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": ["error", "unix"],
    "no-console": "error",
    "quotes": ["error", "single"],
    "no-unused-vars": "error",
    "semi": ["error", "never"],
    "no-extra-semi": "error",
    "sort-imports": [
      "error",
      {
        "ignoreCase": false,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": ["none", "all", "single", "multiple"]
      }
    ],
    "prefer-destructuring": "warn"
  },
  "root": true
}
